@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

.App {
  font-family: Inter;
  text-align: center;
}

body {
  background-color: #0D0C11 !important;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 350px;
  padding: 20px;
  background-color: transparent;
}

.reactMovie {
  width: 200px;
}

.movieDb {
  width: 100px;
  align-items: flex-end;
  justify-content: end;
}

.main {
  height: 55vh;
  color: #FFFFFF;
  line-height: normal;
  background-color: #0d0c11c5;
  background-blend-mode: darken;
  text-align: start;
  font-family: Inter;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.age {
  color: #E50914;
}

.top {
  margin-top: 50px;
  background-color: #E50914;
  border: none;
  border-radius: 25px;
  color: #FFFFFF;
  width: 45px;
  height: 20px;
  font-weight: 700;
  margin-left: 50px;
}

.watch {
  margin-top: 15px;
  background-color: #E50914;
  border: none;
  border-radius: 25px;
  color: #FFFFFF;
  width: 80px;
  height: 30px;
  font-weight: 800;
  margin-left: 40px;
}

h1 {
  font-size: 40px;
  margin-left: 40px;
}

p {
  margin-top: 40px;
  font-size: 17px;
}

.inputContainer {
  background-color: transparent;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.inputCard {
  width: 90%;
  padding: 5px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: #353535;
  color: white;
}

.searchIcon {
  position: absolute;
  color: white;
  left: 83%;
  top: 38%;
}

h2 {
  color: #353535;
  text-align: center;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.unHidden {
  opacity: 1;
}

.hidden {
  display: none;
}

.parent {
  min-height: 90%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px !important;
}

.card {
  height: 425px;
  display: flex;
  align-items: center;
  width: 250px;
  font-size: 25px;
  flex-direction: column;
  margin-top: 20px;
}

.card img {
  width: 200px;
  border-radius: 15px;
  height: 90% !important;
  opacity: 0.7 !important;
}

.moviesContainer {
  margin-top: 50px;
}

.right,
.left {
  width: 100%;
  max-width: 100px;
  height: 30px;
  background-color: #1c1c1c;
  color: white;
  border: none;
  outline: none;
  border-radius: 30px;
}

.right {
  background-color: #E50914 !important;
}

.buttonsSwitch {
  gap: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  color: #fff;
  flex-direction: row;
  list-style: none;

}

ul li a {
  color: #EDEDED;
  padding: 20px;
  list-style-type: none !important;
}

a {
  list-style: none !important;
}


ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.popular {
  padding-top: 25px;
  padding-bottom: 25px;
  color: #FFFFFF;
  text-align: start !important;
  margin-left: 80px;
}

.logo {
  color: #E50914e8;
}

.errorFound {
  font-size: 52px;
  margin-top: 300px;
  color: white;
}

p {
  color: #FFFFFF;
  list-style: none;
}

div {
  color: #FFFFFF;
}

.star {
  width: 30px;
}

.bg {
  position: absolute;
  width: 100%;
  height: 800px;
  opacity: 0.4;
  z-index: -1;
}

.columnInfo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 200px;
  padding-top: 80px;
}

.movieContain {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.redText {
  color: #E50914;
}

.rows {
  display: flex;
  flex-direction: row !important;
}

.movieTitle {
  font-size: 32px;
  margin-left: 35px;
}

.aboutText {
  margin-left: 200px;
  margin-top: 40px;
  font-size: 32px;
  color: #FFFFFF;
  text-align: left !important;
}

.aboutTexty {
  text-align: left;
  width: 40%;
  margin-left: 200px;
}

.poster {
  border-radius: 20px;
}

.commentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.typeCom {
  outline: none;
  width: 855px;
  background: transparent;
  color: #FFFFFF;
  border-bottom: 1px solid #FFFFFF8C;
}

.oneComment {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.inputCom {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.commentDesc p {
  margin: 0;
}

.commentDesc {
  text-align: left;
  margin-left: 10px;
}

.thg {
  margin-top: 100px;
  text-align: left;
  margin-left: 400px;
  font-size: 32px;
}

.more {
  padding-top: 45px;
}

.films {
  display: flex;
  flex-direction: column;
}

.filmsrow {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 25px;
}

.footerLine {
  margin-top: 100px;
}

.footer {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footerMain {
  display: flex;
  flex-direction: column;
  text-align: left;
}



.footerNavigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 45px;
}

.footernav {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: start;
}

.footernav ul {
  margin-top: 20px;
  display: block;
}

.background_img {
  position: absolute;
  height: 570px;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  opacity: 0.3;
  width: 100%;
  top: 1px;
}

.swiper_wrap {
  padding: 0px 50px;
  height: 100%;
  width: 100%;
  position: relative;
  display: block;
  text-align: left;
}

.swiper-button-next {
  margin-top: 0px;
  position: absolute;
  top: 50%;
  right: -11px;
  width: 45px;
  height: 45px;
  transform: translateY(-50%);
}

.swiper-button-prev {
  position: absolute;
  top: 50%;
  left: -11px;
  width: 45px;
  height: 45px;
  transform: translateY(-50%);
  margin-top: 0px;
}

.swiper-pagination-bullet {
  padding: 6px;
  background-color: white;
}